<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.bsc.broadcaster" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>broadcaster</name>
  <description>Allow send message from Javascript to Native</description>
  <js-module name="broadcaster" src="www/broadcaster.js">
    <clobbers target="cordova.plugins.broadcaster" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="broadcaster"><param name="android-package" value="org.bsc.broadcaster.broadcaster" />
      </feature>
    </config-file><config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/Broadcaster.java" target-dir="src/org/bsc/broadcaster/broadcaster" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="broadcaster"><param name="ios-package" value="broadcaster" /></feature>
    </config-file>
    <source-file src="src/ios/CDVBroadcaster.m" />
  </platform>
</plugin>
